.mat-table, .response_table {
    width: 100%;
}

.float-right {
    float: right;
    margin-left: 10px;
}

.float-centre {
    margin: auto;   
    padding: 10px;
}

.mat-card {
    padding: 20px;
}

