<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Confirm Course Details</span>
    </mat-toolbar-row>
</mat-toolbar>
<hr>
<mat-card>
    <b><span>Primary Details</span></b>
</mat-card>
<hr>
<div class="response_table">
    
    <!-- displayedColumns: string[] = ['applicationid','studentname','coursename']; -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="applicationid">
            <th mat-header-cell *matHeaderCellDef> Application ID</th>
            <td mat-cell *matCellDef="let element">{{element.applicationid}}</td>
        </ng-container>
    
        <ng-container matColumnDef="studentname">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.studentname}}</td>
        </ng-container>
    
        <ng-container matColumnDef="coursename">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element">{{element.coursename}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
</div>
<hr>
<mat-card>
    <b><span>Application Details</span></b>
</mat-card>
<hr>
<div class="response_table">
    
    <!-- ['universityName','applicationStage'] -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="universityName">
            <th mat-header-cell *matHeaderCellDef>Univeristy Name</th>
            <td mat-cell *matCellDef="let element">{{element.universityname}}</td>
        </ng-container>
    
        <ng-container matColumnDef="applicationStage">
            <th mat-header-cell *matHeaderCellDef>Application Stage</th>
            <td mat-cell *matCellDef="let element">{{element.applicationstage}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns2"></tr>
    </table>
</div>
<hr>
<mat-card>
    <b><span>Student Contact Details</span></b>
</mat-card>
<hr>
<div class="response_table">
    <!-- ['phone','email'] -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns3"></tr>
    </table>
</div>
    