<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Why choose KAS?</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Personalised Attention</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Our consultants provide end to end guidance, application tracking, application submission details and financial guidance to the students.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Immigration Assistance</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Unlike other institutions KAS Migration only recommends those fields and courses, which provide a pathway towards permanent residency.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>On Ground Assistance</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">KAS Migration Just doesn't help you get an admission in your dream university, we also help you get settled into your new home by providing on ground guidance regarding residential services.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Vast University Connections</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Integrate with our university affliations to secure your future with best opportunities.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        KAS
                        <br />
                        CAN
                        <br />
                        DO IT!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>