<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Search for courses</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Search for University courses as per your requirement using our interactive search tool</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Easy Single Application</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Just upload your documents once and reuse them for every university application</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Supreme Assistance and Guidance</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Our fully qualified and trained consultants will be able to guide you through and walk you through the whole admission process.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Apply for your courses</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Apply for your selected courses and keep track of all your applications and finances using our interactive dashboard and payment management system.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Select your 
                        <br />
                        course and secure
                        <br />
                        your future!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>