<body>
    <mat-card>
        <b><span>
            <div *ngIf = "data.role == 'consultant'">
                Consultant Dashboard
            </div>
            <div *ngIf = "data.role == 'admin'">
                Admin Dashboard
            </div>
            <div *ngIf = "data.role == 'student'">
                Student Dashboard
            </div>
        </span></b>
    </mat-card>

    <br>

    <div class="row">
        <div *ngIf = "data.role == 'consultant' || data.role == 'admin'">
            <div class = "column">
                <div class = "card">
                    <div class = "container">
                        <h2 class="title">Inactive Students</h2>
                        <h1 class="title">{{data?.matchStudents}}</h1>
                        <p><button mat-raised-button class="button" [routerLink]="['/cafe/inactive-accounts']" [disabled]="data?.matchStudents === 0">View Matched Students</button></p>
                    </div>
                </div>
            </div>
    
            <!-- <div class = "column">
                <div class = "card">
                    <div class = "container">
                        <h2 class="title">Unmatched Students</h2>
                        <h1 class="title">{{data?.unmatchedStudents}}</h1>
                        <p><button mat-raised-button class="button" [routerLink]="['/cafe/cagtegory']" [disabled]="data?.unmatchedStudents === 0">View Unmatched Students</button></p>
                    </div>
                </div>
            </div> -->
    
            <div class = "column">
                <div class = "card">
                    <div class = "container">
                        <h2 class="title">Incomplete Applications</h2>
                        <h1 class="title">{{data?.incompleteApplications}}</h1>
                        <p><button mat-raised-button class="button" [routerLink]="['/cafe/view-application']" [disabled]="data?.incompleteApplications === 0">View Incomplete Applications</button></p>
                    </div>
                </div>
            </div>
    
            <div class = "column">
                <div class = "card">
                    <div class = "container">
                        <h2 class="title">Active Students</h2>
                        <h1 class="title">{{data?.completedApplications}}</h1>
                        <p><button mat-raised-button class="button" [routerLink]="['/cafe/view-student-details']" [disabled]="data?.completedApplications === 0">View Completed Applications</button></p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf = "data.role == 'student'">
            <div class = "column">
                <div class = "card">
                    <div class = "container">
                        <h2 class="title">Incomplete Applications</h2>
                        <h1 class="title">{{data?.incompleteApplications}}</h1>
                        <p><button mat-raised-button class="button" [routerLink]="['/cafe/view-applications-student']" [disabled]="data?.incompleteApplications === 0">View Incomplete Applications</button></p>
                    </div>
                </div>
            </div>
    
            <div class = "column">
                <div class = "card">
                    <div class = "container">
                        <h2 class="title">Completed Applications</h2>
                        <h1 class="title">{{data?.completedApplications}}</h1>
                        <p><button mat-raised-button class="button" [routerLink]="['/cafe/completedApplications']" [disabled]="data?.completedApplications === 0">View Completed Applications</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>